<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.quinix.condroid"
      android:versionName="2.3.3" android:versionCode="9">
      <application android:icon="@drawable/icon" android:label="@string/appName" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".ui.AllAnotations" android:launchMode="singleTop">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        		</intent-filter>
       			 <meta-data android:name="android.app.searchable"
                   	android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".ui.ShowAnnotation"></activity>
        <activity android:name=".ui.AboutActivity"></activity>
        <activity android:label="@string/appName" android:name=".ui.WelcomeActivity" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"></category>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RunningActivity"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8"></uses-sdk>
</manifest>