<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cz.quinix.condroid"
      android:versionName="3.0.3" android:versionCode="16">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <application android:icon="@drawable/icon" android:label="@string/appName" android:theme="@style/Theme.Condroid">
          <activity android:name=".ui.ShowAnnotation" android:uiOptions="splitActionBarWhenNarrow"></activity>
          <activity android:name=".ui.Preferences"></activity>

          <activity android:name=".ui.ReminderList" android:theme="@android:style/Theme.Dialog" android:label="Přehled připomenutí"/>
          <activity android:name=".ui.ProgramActivity" android:launchMode="singleTop"  android:theme="@style/Theme.Condroid">
              <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <category android:name="android.intent.category.LAUNCHER"/>
                  <action android:name="android.intent.action.SEARCH"></action>
              </intent-filter>
              <meta-data android:name="android.app.searchable"  android:resource="@xml/searchable"/>
          </activity>

          <service android:name=".service.ReminderTask"/>
          <service android:name=".service.UpdatesService"/>

          <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
      </application>

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="14"></uses-sdk>
</manifest>